<a href="https://colab.research.google.com/github/SanjayJanardhan-89/ApacheSparkHandsOn/blob/main/Certification/Spark%20DataFrames%20And%20Their%20Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup Pyspark

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark
from pyspark.sql import SparkSession

spark= SparkSession \
       .builder \
       .appName("OurSparkApp") \
       .getOrCreate()

spark

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,244 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,659 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,200 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [4,420 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,544 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [55.7 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,718 kB]
Get:18 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,907 kB]
Fetched 24.1 MB in 8s (3,208 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
39 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.11/dist-packages (0.10.9.7)

In [38]:
from datetime import datetime, date
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
rdd = spark.sparkContext.parallelize([
    (100, 200., 'string_test_1', date(2023, 1, 1), datetime(2023, 1, 1, 12, 0)),
    (200, 300., 'string_test_2', date(2023, 2, 1), datetime(2023, 1, 2, 12, 0)),
    (300, 400., 'string_test_3', date(2023, 3, 1), datetime(2023, 1, 3, 12, 0))
])
data_df = spark.createDataFrame(rdd, schema=['col_1', 'col_2', 'col_3', 'col_4', 'col_5'])
data_df

DataFrame[col_1: bigint, col_2: double, col_3: string, col_4: date, col_5: timestamp]

In [39]:
data_df.show()

+-----+-----+-------------+----------+-------------------+
|col_1|col_2|        col_3|     col_4|              col_5|
+-----+-----+-------------+----------+-------------------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|
+-----+-----+-------------+----------+-------------------+

In [5]:
data_df.show(2)

+-----+-----+-------------+----------+-------------------+
|col_1|col_2|        col_3|     col_4|              col_5|
+-----+-----+-------------+----------+-------------------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|
+-----+-----+-------------+----------+-------------------+
only showing top 2 rows

In [6]:
data_df.collect()

[Row(col_1=100, col_2=200.0, col_3='string_test_1', col_4=datetime.date(2023, 1, 1), col_5=datetime.datetime(2023, 1, 1, 12, 0)),
 Row(col_1=200, col_2=300.0, col_3='string_test_2', col_4=datetime.date(2023, 2, 1), col_5=datetime.datetime(2023, 1, 2, 12, 0)),
 Row(col_1=300, col_2=400.0, col_3='string_test_3', col_4=datetime.date(2023, 3, 1), col_5=datetime.datetime(2023, 1, 3, 12, 0))]

In [11]:
data_df.take(2)

[Row(col_1=100, col_2=200.0, col_3='string_test_1', col_4=datetime.date(2023, 1, 1), col_5=datetime.datetime(2023, 1, 1, 12, 0)),
 Row(col_1=200, col_2=300.0, col_3='string_test_2', col_4=datetime.date(2023, 2, 1), col_5=datetime.datetime(2023, 1, 2, 12, 0))]

In [8]:
data_df.tail(1)

[Row(col_1=300, col_2=400.0, col_3='string_test_3', col_4=datetime.date(2023, 3, 1), col_5=datetime.datetime(2023, 1, 3, 12, 0))]

In [40]:
data_df.head()

Row(col_1=100, col_2=200.0, col_3='string_test_1', col_4=datetime.date(2023, 1, 1), col_5=datetime.datetime(2023, 1, 1, 12, 0))

In summary,
- take and collect are used to retrieve data elements,
  - take being more suitable for small subsets and
  - collect for retrieving all data (with caution).
- show is used for visual inspection
  - head retrieves the first rows as Row objects, and
  - tail retrieves the last rows of the dataset.
  
Each method serves different purposes and should be chosen based on the specific requirements of the data analysis task.

In [16]:
data_df.toPandas()

   col_1  col_2          col_3       col_4               col_5
0    100  200.0  string_test_1  2023-01-01 2023-01-01 12:00:00
1    200  300.0  string_test_2  2023-02-01 2023-01-02 12:00:00
2    300  400.0  string_test_3  2023-03-01 2023-01-03 12:00:00

In [41]:
from pyspark.sql import column, functions as F

data_df.select(data_df.col_3).show()
data_df.select("col_3").show()
data_df.select(data_df["col_3"]).show()

+-------------+
|        col_3|
+-------------+
|string_test_1|
|string_test_2|
|string_test_3|
+-------------+

+-------------+
|        col_3|
+-------------+
|string_test_1|
|string_test_2|
|string_test_3|
+-------------+

+-------------+
|        col_3|
+-------------+
|string_test_1|
|string_test_2|
|string_test_3|
+-------------+

In [50]:
data_df = data_df.withColumn("new_col_1", data_df["col_1"])
data_df = data_df.withColumn("new_col_2", F.lit("A"))
data_df.show()

+-----+-----+-------------+----------+-------------------+---------+---------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_2|new_col_1|
+-----+-----+-------------+----------+-------------------+---------+---------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|        A|      100|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|        A|      200|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|        A|      300|
+-----+-----+-------------+----------+-------------------+---------+---------+

In [51]:
data_df = data_df.drop("new_col_2")
data_df = data_df.drop(data_df["new_col_1"])
# data_df = data_df.drop("new_col_2", "new_col_1")
data_df.show()

+-----+-----+-------------+----------+-------------------+
|col_1|col_2|        col_3|     col_4|              col_5|
+-----+-----+-------------+----------+-------------------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|
+-----+-----+-------------+----------+-------------------+

In [52]:
data_df = data_df.withColumn("new_col_1", data_df["col_1"])
data_df.show()

+-----+-----+-------------+----------+-------------------+---------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|
+-----+-----+-------------+----------+-------------------+---------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|      100|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|      200|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|      300|
+-----+-----+-------------+----------+-------------------+---------+

In [59]:
data_df.withColumn("new_col_1", F.column("new_col_1")/100).show()
data_df.withColumn("new_col_1", F.col("new_col_1")/100).show()
#data_df.withColumn("new_col_1", col("new_col_1")/100).show() ##Errors out

+-----+-----+-------------+----------+-------------------+---------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|
+-----+-----+-------------+----------+-------------------+---------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|      1.0|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|      2.0|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|      3.0|
+-----+-----+-------------+----------+-------------------+---------+

+-----+-----+-------------+----------+-------------------+---------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|
+-----+-----+-------------+----------+-------------------+---------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|      1.0|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|      2.0|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|      3.0|
+-----+-----+-------------+----------+-------------------+---------+

In [60]:
data_df.withColumnRenamed("new_col_1", "col_6").show()

+-----+-----+-------------+----------+-------------------+-----+
|col_1|col_2|        col_3|     col_4|              col_5|col_6|
+-----+-----+-------------+----------+-------------------+-----+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|  100|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|  200|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|  300|
+-----+-----+-------------+----------+-------------------+-----+

In [63]:
from enum import unique
data_df.select("col_3").distinct().show()

+-------------+
|        col_3|
+-------------+
|string_test_1|
|string_test_2|
|string_test_3|
+-------------+

In [78]:
data_df.select(F.count_distinct("col_3").alias("CountDistinct")).show()

+-------------+
|CountDistinct|
+-------------+
|            3|
+-------------+

In [76]:
from pyspark.sql.functions import upper
data_df.withColumn("upper_str_column", F.upper("col_3")).show()
data_df.withColumn("upper_str_column", upper("col_3")).show()

+-----+-----+-------------+----------+-------------------+---------+----------------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|upper_str_column|
+-----+-----+-------------+----------+-------------------+---------+----------------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|      100|   STRING_TEST_1|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|      200|   STRING_TEST_2|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|      300|   STRING_TEST_3|
+-----+-----+-------------+----------+-------------------+---------+----------------+

+-----+-----+-------------+----------+-------------------+---------+----------------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|upper_str_column|
+-----+-----+-------------+----------+-------------------+---------+----------------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|      100|   STRING_TEST_1|
|  200|300.0|string_test_2|2023-02-01|2023-01-02 12:00:00|      200|   STRING_TEST_2|
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|      300|   STRING_TEST_3|
+-----+-----+-------------+----------+-------------------+---------+----------------+

# Data manipulation - Filter

In [80]:
# data_df.filter(column("col_3")=="string_test_3").show()

data_df.filter(data_df["col_3"]=="string_test_3").show()

+-----+-----+-------------+----------+-------------------+---------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|
+-----+-----+-------------+----------+-------------------+---------+
|  300|400.0|string_test_3|2023-03-01|2023-01-03 12:00:00|      300|
+-----+-----+-------------+----------+-------------------+---------+

In [86]:
data_df.filter(
      (data_df["col_3"]!="string_test_3") & (data_df["col_1"]==100)
    ).show()

+-----+-----+-------------+----------+-------------------+---------+
|col_1|col_2|        col_3|     col_4|              col_5|new_col_1|
+-----+-----+-------------+----------+-------------------+---------+
|  100|200.0|string_test_1|2023-01-01|2023-01-01 12:00:00|      100|
+-----+-----+-------------+----------+-------------------+---------+